<div class="col-12 md:col-12 lg:col-12">
    <div class="bar-dark"></div>
    <div class="col-12 md:col-12 lg:col-12">
        <div>
            <span><b>{{title}}</b></span>
        </div>
        <div class="col-12 bdr-horizontal-light">
            <div class="col-12">
                <div class="grid grid-center" *ngFor="let i of newsList" (click)="onNavigate()">
                    <div class="col-6 md:col-9 lg:col-9">
                        <div class="news-title"> <span> {{i.g_newstitletamil}} </span> </div>
                        <div class="news-content-small no-pad-rgt">
                            <p>{{i.g_newsshorttamil}}</p>
                        </div>
                    </div>
                    <div class="col-6 md:col-2 lg:col-2 no-pad-top no-pad-lft">
                        <img src="assets/images/news/newsImg.jpg" style="width: -webkit-fill-available !important;" />
                        <div class="txt-small">{{i.incidentDate}}</div>
                    </div>
                    <div class="col-12 bdr-horizontal-light"></div>
                </div>
            </div>
        </div>
    </div>
</div>