<div class="col-12 md:col-12 lg:col-12">
  <div class="bar-dark"></div>
  <div class="grid grid-center">
            <div class="col-3 md:col-3 lg:col-3">
                <img src="assets/images/news/logo.jpg" style="width: -webkit-fill-available !important;"/>
            </div>
    <div class="col-9 md:col-8 lg:col-8">
        <div *ngFor="let i of content"  style="margin-top: 10px;">
                <p style="color: #666666;font-size: 12px !important;">{{i}}</p>
            </div>
        </div>
    </div>
</div>