<div class="col-12 md:col-12 lg:col-12">
    <div class="bar-dark"></div>
    <div class="grid grid-center">
        <div #rows class="col-12 md:col-12 lg:col-12 no-pad-top">
            <div>
                <span>
                    <h3>{{headLine}}</h3>
                </span>
            </div>
            <div class="col-12 bdr-horizontal-light"></div>
            <div class="grid grid-center">
                <div class="col-8">
                    <img src="assets/images/news/newsImg.jpg" style="width: -webkit-fill-available !important;" />
                </div>
            </div>
            <div class="bdr-horizontal-light"></div>
            <div class="txt-small">{{incidentDate}}</div>
            <div class="col-12 bdr-horizontal-light"></div>
            <div class="grid grid-center">
                <div class="col-10 news-content-small no-pad" *ngFor="let i of list">
                    <!--  -->
                    <p style="text-align: left;">{{i}}</p>
                </div>
            </div>
        </div>
    </div>
</div>