<div class="col-12 md:col-12 lg:col-12 txt-ctr">
        <div class="grid grid-center">
            <div class="col-8 md:col-8 lg:col-8 no-pad">
                <img src="assets/images/header/kalaingar.png" />
                <img src="assets/images/header/murasoli.png" style="width: inherit;" />
                <img src="assets/images/header/stalin.png" />
            </div>
        </div>
        <div style="font-size: 12px">
            <span> <b>{{day}},</b></span>
            <span><b>{{dateToday | date}}</b></span>
        </div>
</div>