<div class="col-12 md:col-12 lg:col-12 txt-ctr">
    <div fxLayout fxFlexFill fxLayoutAlign="center center">
        <div class="col-12 md:col-6 lg:col-6 no-pad">
            <!-- <img src="assets/images/header/kalaingar.png"  /> -->
            <!-- <img src="assets/images/header/murasoli.png" /> -->
            <img src="assets/images/header/stalin.png" fxHide.xs />
            <img src="assets/images/header/murasoli-new.jpg" style="width: 60%;"
                [ngStyle.xs]="{'width': '-webkit-fill-available'}" />
        </div>
    </div>
        <div>
            <div style="font-size: 12px;text-align: center;margin-top: -.5rem;">
                <span> <b>{{day}},</b></span>
                <span><b>{{dateToday | date}}</b></span>
            </div>
        </div>
        <div style="margin-top: -1.5rem;"[ngStyle.xs]="{'margin-top': '0rem'}" [ngStyle.sm]="{'margin-top': '-0.5rem'}">
            <div style="text-align: end !important;padding-right: 2rem;" [ngStyle.xs]="{'padding-right': '0.5rem'}">
                <span>
                    <i class="pi pi-fw pi-facebook" style="color: blue; font-size: 1.5rem"></i>
                </span>
                <span>
                    <i class="pi pi-fw pi-twitter" style="color: deepskyblue; font-size: 1.5rem"></i>
                </span>
                <span>
                    <i class="pi pi-fw pi-telegram" style="color: royalblue; font-size: 1.5rem"></i>
                </span>
                <span>
                    <i class="pi pi-fw pi-whatsapp" style="color: green; font-size: 1.5rem"></i>
                    : <span style="font-size: 14px;color: #544c4c;"><b>9800121223</b></span>
                </span>
            </div>
        </div>
</div>