<div class="col-12 md:col-12 lg:col-12">
    <div class="bar-dark"></div>
    <div class="col-12 md:col-12 lg:col-12 no-pad-btm">
        <div class="grid">
            <div class="col-4 md:col-2 lg:col-2 breaking-news">
                <span>முக்கிய செய்திகள்</span>
            </div>
            <div class="col-8 md:col-10 lg:col-10 breaking-news-content">
                <marquee>{{breakingNews}}</marquee>
            </div>
        </div>
    </div>
    <div #row1 class="col-12 md:col-12 lg:col-12 no-pad-btm">
        <div class="grid">
            <div #col1 class="col-12 md:col-3 lg:col-3 no-pad-lft bdr-vertical-light">
                <div class="col-12 md:col-12 lg:col-12 no-pad-top no-pad-btm">
                    <div class="col-12 no-pad cursor" *ngFor="let i of firstColData" style="margin-bottom: -0.7rem;" (click)="onNavigate(i)">
                        <div class="news-title">
                            <span> {{i.headLine}} </span>
                        </div>
                        <div class="grid">
                            <div class="col-7 no-pad-top news-content-smaller no-pad-rgt">
                                <p>{{i.newsShort}}</p>
                            </div>
                            <div class="col-5 no-pad-btm no-pad-lft">
                                <img *ngIf="i.hasImg" [src]="i.imgURL" style="width: -webkit-fill-available !important;" />
                                <div class="txt-small">{{i.incidentShortDate}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div #col2 class="col-12 md:col-6 lg:col-6 bdr-vertical-light">
                <div class="cursor" *ngFor="let i of secondMainColData" (click)="onNavigate(i)">
                    <div class="txt-ctr">
                        <img *ngIf="i.hasImg" [src]="i.imgURL" style="width: -webkit-fill-available !important;
                        height: 300px;" />
                    </div>
                    <div class="col-12 md:col-12 lg:col-12">
                        <div class="news-title">
                            <span> {{i.headLine}} </span>
                        </div>
                        <div>
                            <div class="txt-small">{{i.incidentShortDate}}</div>
                            <div class="news-content-small">{{i.newsShort}}</div>
                        </div>
                    </div>
                </div>
                <div class="col-12 bdr-horizontal-light cursor" *ngFor="let i of secondColData" (click)="onNavigate(i)">
                    <div class="news-title">
                        <span> {{i.headLine}} </span>
                    </div>
                    <div class="grid">
                        <div class="col-8 no-pad-top news-content-small no-pad-rgt">
                            <p>{{i.newsShort}}</p>
                            <div class="txt-small">{{i.incidentShortDate}}</div>
                        </div>
                        <div class="col-4 no-pad-btm no-pad-lft">
                            <img *ngIf="i.hasImg" [src]="i.imgURL" style="width: -webkit-fill-available !important;" />
                        </div>
                    </div>
                </div>
            </div>
            <div #col3 class="col-12 md:col-3 lg:col-3 no-pad-lft">
                <div class="col-12 md:col-12 lg:col-12 no-pad-top no-pad-btm">
                    <div class="col-12 no-pad cursor" *ngFor="let i of thridColData" style="margin-bottom: -0.7rem;"  (click)="onNavigate(i)">
                        <div class="news-title">
                            <span> {{i.headLine}} </span>
                        </div>
                        <div class="grid">
                            <div class="col-7 no-pad-top news-content-smaller no-pad-rgt">
                                <p>{{i.newsShort}}</p>
                            </div>
                            <div class="col-5 no-pad-btm no-pad-lft">
                                <img *ngIf="i.hasImg" [src]="i.imgURL" style="width: -webkit-fill-available !important;" />
                                <div class="txt-small">{{i.incidentShortDate}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div #row2 class="col-12 md:col-12 lg:col-12 bdr-horizontal-light no-pad-btm">
        <div class="col-12 no-pad">
            <div class="grid bdr-vertical-light-lt">
                <div *ngFor="let i of bottomNewsData" class="col-12 md:col-3 lg:col-3 bdr-vertical-light cursor" (click)="onNavigate(i)">
                    <div class="grid">
                        <div class="col-6 md:col-6 lg:col-6 news-title">
                            <span> {{i.headLine}} </span>
                        </div>
                        <div class="col-6 md:col-6 lg:col-6">
                            <img *ngIf="i.hasImg" [src]="i.imgURL" style="width: -webkit-fill-available !important;" />
                            <div class="txt-small">{{i.incidentShortDate}}</div>
                        </div>
                    </div>
                    <div>
                        <div class="news-content-smaller">{{i.newsShort}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
   
</div>